body{
    padding: 0;
    margin: 0;
    background-color: #f7f1e3;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden ;
}


#header{
    width: auto;
    height: 50px;
    background-color: white;
    padding: 10px;
    border-bottom: 3px solid #c23616;
    margin-bottom: 5px;
}

#content{
    padding: 30px;
}

#header h3{
    color: #c23616
}

#search #country{
    height: 40px;
    font-size: 15px;
    margin: 20px;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 10px;
    border: 1px solid gray;
    outline: 0;
}

#search #country option{
    font-size: 15px;
}

.row{
    display: block;
    float: left;
    width: 300px;
    height: 150px;
    padding: 20px;
    margin: 20px;
}

#confirmed{
    background-color: #e74c3c;
    border-radius: 10px;
    text-align: center;
}

#confirmed:hover{
    background-color: #e95949;
}

#recovered{
    background-color: #2ecc71;
    border-radius: 10px;
    text-align: center;

}

#recovered:hover{
    background-color: #2fd072;
}

#death{
    background-color: #7f8c8d;
    border-radius: 10px;
    text-align: center;

}

#death:hover{
    background-color: #859293;
}

#content {
    margin-left: 80px;
}

#content h3{
    color: white;
}

#content span{
    color: white;
    font-size: 50px;
}

.chart-cointainer{
    display: flex;
    height: 450px;
    width: 50%;
    margin-top: 20px;
}

footer{
    text-align: center;
    width: auto;
    height: 20px;
    background-color: white;
    padding: 10px;
    border-top: 3px solid #c23616;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}